@import '../../../shared/colors';
@import '../../../styles.scss';

header {
	background-image: url(../../../assets/images/oscars.jpg);
	background-size: contain;
	background-color: black;
	color: white;
	height: 110px;
}

.flexbox span {
	flex: 0;
	white-space: nowrap;
}

.flexbox .flexbox {
	align-items: center;
}

.collab {
	display: inline-block;
	margin: .5rem;

	span {
		display: block;
		color: white;
		background-color: #222;
		text-align: center;
		margin-top: -9px;
	}
}