/*$primary-color: #000;

$secondary-color: #2e3532;

$tertiary-color: #8b2635;

$secondary-background-color: #eee;

$background-color: #fff;

$text-color: #333;

$text-color-contrast: #fff;

$oscar-color: #FFD700;

*/




$orange-color: #f7ac15;
$oscar-color: #ffee75;
$oscar-text-color: darkgoldenrod;
$text-color: #222;
$text-semilight-color: #555;
$text-light-color: #bbb;
$shadow-color: rgba(#000000, .7);
$background-gray-color: #ebeff2;
