@use './colors.scss' as *;

.mark {
	font-size: .9em;
	text-align: right;
	font-weight: bold;
	color: $text-light-color
}

/*.mark-10,
.mark-20,
.mark-30,
.mark-40 {
	color: white;
	background-color: red;
	border-color: pink;
}

.mark-50 {
	color: white;
	background-color: lightgray;
	border-color: red;
}

.mark-60,
.mark-65 {
	color: white;
	background-color: gray;
	border-color: lightgray;
}

.mark-70 {
	color: green;
	background-color: gray;
	border-color: lightgray;
}

.mark-75 {
	color: green;
	background-color: lightgreen;
	border-color: green;
}

.mark-80,
.mark-85 {
	color: green;
	background-color: yellow;
	border-color: green;
}

.mark-90 {
	color: gold;
	background-color: yellow;
	border-color: gold;
}*/

