<nav>
	<ul>
		<li>
			<a routerLink="/">Accueil</a>
		</li>
		<li>
			<a routerLink="movies">Films</a>
		</li>
		<li>
			<a routerLink="/">Réalisateurs</a>
		</li>
		<li>
			<a routerLink="/">Acteurs</a>
		</li>
		<li>
			<a routerLink="/oscars">Oscars</a>
		</li>
		<li>
			<a>Statistiques</a>
			<ul>
				<li>
					<a routerLink="/stats/cinema">Cinéma</a>
				</li>
				<li>
					<a routerLink="/">Films</a>
				</li>
				<li>
					<a routerLink="/stats/sagas">Sagas</a>
				</li>
				<li>
					<a routerLink="/stats/actors">Acteurs</a>
				</li>
				<li>
					<a routerLink="/stats/directors">Réalisateurs</a>
				</li>
				<li>
					<a routerLink="/">Oscars</a>
				</li>
			</ul>
		</li>
	</ul>
</nav>