<app-search-movie></app-search-movie>
@if (movies.length) {
  <div class="results-recap">
    <span class="movies">{{ movies.length }} films</span>
    <span class="length">{{ getAverageLength() }}</span>
    <span class="mark">{{ getAverageMark() }}/10</span>
  </div>
}
@if (directors) {
  <div class="people directors">
    <span>Réalisateur{{directors.length > 1 ? 's' : ''}}</span>
    <div>
      @for (person of directors; track $index) {
        <app-person-panel
        [person]="person"></app-person-panel>
      }
    </div>
  </div>
}
@if (actors) {
  <div class="people actors">
    <span>Acteur{{actors.length > 1 ? 's' : ''}}</span>
    <div>
      @for (person of actors; track $index) {
        <app-person-panel
        [person]="person"></app-person-panel>
      }
    </div>
  </div>
}
<div class="results">
  @for (movie of movies; track $index) {
    <app-poster-simple [movie]="movie"></app-poster-simple>
  }
</div>