<app-search-movie></app-search-movie>
<div class="results-recap" *ngIf="movies.length">
	<span class="movies">{{ movies.length }} films</span>
	<span class="length">{{ getAverageLength() }}</span>
	<span class="mark">{{ getAverageMark() }}/10</span>
</div>
<div class="people directors" *ngIf="directors">
	<span>Réalisateur{{directors.length > 1 ? 's' : ''}}</span>
	<div>
		<app-person-panel
			*ngFor="let person of directors"
			[person]="person"></app-person-panel>
	</div>
</div>
<div class="people actors" *ngIf="actors">
	<span>Acteur{{actors.length > 1 ? 's' : ''}}</span>
	<div>
		<app-person-panel
			*ngFor="let person of actors"
			[person]="person"></app-person-panel>
	</div>
</div>
<div class="results">
	<app-poster-simple *ngFor="let movie of movies" [movie]="movie"></app-poster-simple>
</div>