@use '../../../shared/colors' as *;
@use '../../../styles.scss' as *;

header {
	background-image: url(../../../assets/images/oscars.jpg);
	background-size: contain;
	background-color: black;
	color: white;
	height: 110px;
}
