<header>
  <h1>Cinéma</h1>
</header>
<div class="content">
  @if (moviesByYear | async; as movies) {
    <div>
      @for (year of movies; track $index) {
        <div>
          <div class="year">{{ year.year }}</div>
          <div class="movies">
            @for (movie of year.movies; track $index) {
              <app-poster-simple [movie]="movie" [icons]="false"></app-poster-simple>
            }
          </div>
        </div>
      }
    </div>
  }
  <div>
    @for (group of actors; track $index) {
      <div>
        <div class="count">{{ group[0].movies.length }} films</div>
        <div class="people">
          @for (person of group; track $index) {
            <div class="person">
              <app-person-detailed
                [class.justseen]="person.person.justseen"
                [width]="90 + 12 * (group[0].movies.length - 4)"
                [height]="110 + 15 * (group[0].movies.length - 4)"
                [style.font-size.em]="0.8 + 0.07 * (group[0].movies.length - 4)"
              [person]="person.person"></app-person-detailed>
              <ul [style.padding-right.px]="40 + 90 + 12 * (group[0].movies.length - 4)"
                [style.min-height.px]="50 + 110 + 15 * (group[0].movies.length - 4)">
                @for (movie of person.movies; track $index) {
                  <li>{{movie}}</li>
                }
              </ul>
            </div>
          }
        </div>
      </div>
    }
  </div>
</div>