<app-person-description	[person]="person"></app-person-description>
<div class="years">
	<span>{{person.born}} - {{person.died ? person.died : ''}}</span>
	<span>{{getAge()}}</span>
</div>
<div class="countries">
	<app-flag [country]="person.country"></app-flag>
</div>
<div class="oscars">
	@for (oscar of person.oscars; track $index) {
		<div>
			@if ($index == 0 || oscar.year != person.oscars[$index - 1].year) {
				<div class="year">{{ oscar.year }}</div>
			}
			@if ($index == 0 || oscar.movie.titleFr != person.oscars[$index - 1].movie.titleFr) {
				<div class="movie">{{ oscar.movie.titleFr }}</div>
			}
			<div class="oscar" [class.won]="oscar.won">{{ formatOscar(oscar.name) }}</div>
		</div>
	}
</div>
