@use '../../../styles' as *;

:host {
	@include shadowed;
	display: inline-block;
}

div {
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}
