<header [class.large]="!currentType">
  <h1>Oscars</h1>
  <div>
    <input type="radio" name="type"
      [id]="'type-' + BY_YEAR"
      [value]="BY_YEAR"
      [checked]="currentType === BY_YEAR"
      (change)="changeType(BY_YEAR)" />
      <label [for]="'type-' + BY_YEAR">Par année</label>
      <input type="radio" name="type"
        [id]="'type-' + BY_TYPE"
        [value]="BY_TYPE"
        [checked]="currentType === BY_TYPE"
        (change)="changeType(BY_TYPE)" />
        <label [for]="'type-' + BY_TYPE">Par type</label>
      </div>
    </header>
    @if (currentType) {
      @if (options) {
        <select [(ngModel)]="currentOption" (change)="updateOscars()">
          @if (currentType === BY_TYPE) {
            <option></option>
          }
          @for (o of options; track o) {
            <option>{{o}}</option>
          }
        </select>
      }
      @if (items) {
        <div class="row results">
          @for (r of items; track r) {
            <fieldset>
              <legend>{{r.key}}</legend>
              <div class="winners-posters">
                @if (!showPerson(r)) {
                  @for (w of r.winners; track w) {
                    <app-poster-simple [icons]="false" [movie]="w.movie"></app-poster-simple>
                  }
                }
                @if (showPerson(r)) {
                  @for (w of r.winners; track w) {
                    @for (p of w.nominees; track p) {
                      <app-person-simple [personId]="p.id"></app-person-simple>
                    }
                  }
                }
              </div>
              <ul>
                @if (r.winners.length) {
                  @for (winner of r.winners; track winner) {
                    <li class="winner">
                      <span class="movie-title">{{winner.movie.titleFr}}</span>
                      <span class="movie-nominee">{{displayPeople(winner.nominees)}}</span>
                    </li>
                  }
                }
                @if (!r.winners.length) {
                  <li class="winner unknown">???</li>
                }
                @for (nominee of r.nominees; track nominee) {
                  <li class="nominee">
                    <span class="movie-title">{{nominee.movie.titleFr}}</span>
                    <span class="movie-nominee">{{displayPeople(nominee.nominees)}}</span>
                  </li>
                }
                @for (unknown of getUnknowns(r); track unknown) {
                  <li class="unknown">???</li>
                }
              </ul>
            </fieldset>
          }
        </div>
      }
    }